{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

    <h1></h1></br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for i in looked_stocks %}
          <tr>
            <td>{{ i["symbol"] }}</td>
            <td>{{ i["name"] }}</td>
            <td>{{ i["shares"] }}</td>
            <td>{{ i["price"] }}</td>
            <td>{{ i["total"]}}</td>
          </tr>
        {% endfor %}

        {% for i in cashed %}
          <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ i }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


{% endblock %}
